.header{
  background-color: #def2ff;
  display: flex;
  align-items: center;
}

.header a{
  padding: 10px;
  text-decoration: none;
  font-family: 'Noto Serif',serif;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.footer {
  height: 80px;
  display: flex;
  background-color: #def2ff;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}